<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TO-DO Project</title>
    <link href="style.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="container">

<div class="todo">
<div class="head">
    <h2>TO-DO LIST<img src="img/todo.png"/></h2>
   
</div>
<div class="search">
    <input type="text" placeholder="add your list" id="add-items"/>
    <button class="add" onclick="addTask()">Add</button>
</div>
<ul id="list">
    <!--<li class="checked">task 1</li>
    <li>task 2</li>
    <li>task 3</li>-->
</ul>

</div>
    </div>


    <script src="jscpt/response.js"></script>
  </body>
</html>
